* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #02AAB0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.container {
    padding: 0 10px;
    align-items: center;
    text-align: center;
    font-family: 'Itim', cursive;
}

.title {
    text-align: center;
    margin: 20px;
    color: #833ab4;
    /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height: 100px;
    width: 50%;
    background-color: #c6d5ac;
    margin: 0 auto;
    margin-bottom: 25px;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (min-width:300px) {
    .container {
        padding: 0 10px;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Itim', cursive;
    }
    .title {
        font-size: 25px;
        font-weight: bold;
    }
    title {
        text-align: center;
        margin: 20px;
        color: #d6d5ac;
    }
    input[type="text"] {
        padding: 5px 10px;
        border-radius: 20px;
        border: none;
        text-decoration: none;
        box-shadow: 0.5em 0.5em 0.5em 0.25 rgba(0, 0, 0, 0.2);
    }
    .text1 {
        height: 60px;
        width: 150px;
        font-size: 1em;
    }
    .box {
        height: 10%;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
    }
    label {
        font-size: 40px;
        font-weight: bold;
    }
}

.toggle-text {
    font-size: 18px;
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled>.inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}